<img
  src="https://images.pexels.com/photos/3934023/pexels-photo-3934023.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
<img
  src="https://images.pexels.com/photos/5997993/pexels-photo-5997993.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
<img
  src="https://images.pexels.com/photos/4417072/pexels-photo-4417072.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
