<img
  src="https://images.adsttc.com/media/images/61d2/b36e/3e4b/3194/cc00/00e5/slideshow/RasAbuAboud053.jpg?1641198439"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
<img
  src="https://images.adsttc.com/media/images/61d2/b183/3e4b/318f/9700/00de/slideshow/Lusail_Stadium_AFL_Architects_5.jpg?1641197946"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
<img
  src="https://images.adsttc.com/media/images/61d2/b2c7/3e4b/318f/9700/00e2/slideshow/00_Pattern-Design-ECStadium02.jpg?1641198271"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>

<img
  src="https://images.adsttc.com/media/images/61d2/b17a/3e4b/318f/9700/00dd/slideshow/Lusail_Stadium_AFL_Architects_4.jpg?1641197936"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
<img
  src="https://images.adsttc.com/media/images/61d2/b151/3e4b/318f/9700/00dc/slideshow/20_ZHA_Al_Wakrah_Stadium_Qatar_%C2%A9Hufton_Crow.jpg?1641197898"
  class="img-fluid d-flex justify-content-center mx-auto my-3 border rounded-3"
  alt="..."
/>
